<!-- <p>Find me in app/views/coaching/answer.html.erb</p> -->
<!DOCTYPE html>
<head>
  <center>
    <h1>Coaching#answer</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </center>
</head>
<body>
  <center>
  <div>
    <%= @your_message %>
  </div>
  <div>
    <%= @coach_message %>
  </div>
  <div>
    <%= link_to "Ask a new question", '/ask' %>
  </div>
</center>
</body>

