<!-- <p>Find me in app/views/coaching/ask.html.erb</p>
 -->
<!DOCTYPE html>
<head>
  <center>
  <h1>Coaching#ask</h1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </center>
</head>
<body > <center>
  <div>
  <form action="/answer">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="your_message" placeholder="what's on your mind?">
    <input type="submit" value="Go on!">
  </form>
  </div>
</center>
</body>